SmartReview.Parser.Yelp/reviews.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="reviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="item">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="userImages" type="xs:string" />
              <xs:element name="username" type="xs:string" />
              <xs:element name="rating" type="xs:double" />
              <xs:element name="reviewDate" type="xs:string" />
              <xs:element name="reviewContent" type="xs:string" />
              <xs:element name="title" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>