SmartReview.Parser.TripAdvisor/reviews.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="reviews">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="codes">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="dates">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ratingClasses">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="reviewTitles">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="reviewContents">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="usernames">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="userImages">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="item" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>