SmartReview.Business/review-analysis-result.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xsd:element name="reviewAnalysisResult">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="results">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element maxOccurs="unbounded" name="item">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="reviewCode" type="xsd:string" />
                    <xsd:element name="prediction" type="xsd:boolean" />
                    <xsd:element name="badReviewDetail">
                      <xsd:complexType>
                        <xsd:sequence>
                          <xsd:element name="prediction" type="xsd:string" />
                          <xsd:element name="topOutputs">
                            <xsd:complexType>
                              <xsd:sequence>
                                <xsd:element maxOccurs="unbounded" name="topOutput">
                                  <xsd:complexType>
                                    <xsd:sequence>
                                      <xsd:element name="label" type="xsd:string" />
                                      <xsd:element name="score" type="xsd:double" />
                                    </xsd:sequence>
                                  </xsd:complexType>
                                </xsd:element>
                              </xsd:sequence>
                            </xsd:complexType>
                          </xsd:element>
                        </xsd:sequence>
                      </xsd:complexType>
                    </xsd:element>
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xs:schema>